@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* MENU HEADER */
header{
  height: 100px;
  background: rgba(34, 49, 52, 0.9);
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  padding-left:25px;
}

.menu{
  float: right;
  line-height: 100px;
  padding-right:25px;
  font-weight: bold;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/* BACKGROUND HEADER */

.top-wrapper {
  background-image: url(images/image-wrapper.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.signup {
  background-color: #239b76;
  margin-top: 15px;
  animation: signup 8s infinite;
}

@keyframes signup {
  0%   {background-color: #239b76;}
  25%  {background-color: black;}
  50%  {background-color: red;}
  100% {background-color: #239b76;}
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

.btn-footer {
    padding: 12px 40px;
    background-color: #239b76;
    color: white;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}


.clear {
  clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.about-us {
  background-color:#e8e8e8;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
}

.heading h2 {
  font-weight: normal;
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
  margin-bottom:10px;
  text-align: center;
}

.about {
  float: left;
  width: 50%;
  padding-right: 20px;
  padding-top: 20px;
}

.about p {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  padding: 0 10px 0 10px;
  text-align: justify;
}

.about img {
  width: 100%;
  box-shadow: 0 4px 8px 0;
  border-radius: 5px;
}

.deskripsi {
  background-color: #bbbfca;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.content {
  float: left;
  width: 33.3%;
  padding-top: 20px;
}

.icon {
  position: relative;
}

.icon h2 {
  padding-bottom: 10px;
}

.icon p {
  position:absolute;
  top:90px;
  width:100%;
}

.icon img {
  box-shadow: 0 4px 8px 0;
  border-radius: 10px;
}

.txt-content {
  width:80%;
  display:inline-block;
  margin-top:10px;
  font-size:18px;
  text-align: center;
}

.footer-container {
  background-color: rgba(34, 49, 52, 0.9);;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.footer-subscription > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.footer-input {
  padding: 8px 24px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  text-align:center;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
  text-align:center;
}

/* Animation About Us*/
#ani28 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#ani28 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes ani28FadeInOut {
0% {
opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#ani28 img.top {
animation-name: ani28FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}

